*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

video{
    width: 100%;
    height: 100vh;
    object-fit: cover; /* 비디오가 비율을 유지한체 브라우저 화면을 꽉 채우게 해줌 */
}

.videoBack{
    width: 100%;
    height: 100vh;
    overflow: hidden; /* 잘린부분은 버림 */
}

.nav{
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 0;
    /* 이거 두개 세트로 따라다님 */

    display: flex;
    justify-content: center;
}

.nav a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    z-index: 10;
}

.nav a:hover{
    transition: all 0.5s ease;
    color: yellow;
}

.mainMent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainMent h1 {
    color: white;
    font-size: 80px;
    line-height: 1.1;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

/*  
    position: absolute; 이거 추가 설명

    적용된 대상은 하나의 독립적 객체가 된다고 보면됨
    원래 브라우저 배치될때 따르는 기본적인 물리적 규칙에서 벗어나는 것
    또한 position: absolute; 사용시 해당 속성은 본인의 기준점이 어디인지 모름
    따라서 부모에게 기준점을 만들어 주고 자식에서 사용해야함

    <div class="grand-parent">
      <div class="parent" style="position: relative">
        <div class="child" style="position: absolute"></div>
      </div>
    </div>

    예시의 경우
    .child 는 position: relative가 정의 되어있는 
    .parent를 기준으로 잡고 position: absolute를 적용함
    상위라고 해서 무조건 가장 위쪽이 아님

    따라서
    .parent{
        position: relative
    }

    .child{
        position: absolute
        top: 0;
    }
    이렇게 정의해야 맞음
*/