/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 추가할 리셋 내용 */
*{
	box-sizing: border-box;
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
}

a{
	text-decoration: none;
}

/* 모바일 */
@media (min-width: 380px){
	nav{
		display: none;
	}

	.menu-toggle-btn{
		display: block;
	}
}

/* 미디어 설정 */
/* 태블릿 최소 768px 이상일 때 적용 */
@media (min-width: 768px){
	.promo-list{
		display: flex;
		flex-wrap: wrap;
		/* 
			flex-wrap: wrap; => 자식 요소가 부모 컨테이너의 너비를 초과할때 자동으로 줄바꿈 
			flex-wrap: nowrap; => 한 줄에 강제로 배치 
		*/
		gap: 1.5rem;
	}

	.promo-list li{
		width: 48%;
	}

	.work-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.work-list li{
		width: 49%;
	}

	.blog-list{
		display: flex;
		flex-wrap: nowrap;
	}
	.blog-list li{
		width: 50%;
	}

	.promo-list h3, .work-list h3, .blog-list h3{
		font-size: 1.5rem;
	}
}

/* 1024이상일 때 메뉴가 사라지고 nav 생김 */
@media (min-width: 1024px){
	.menu-toggle-btn{
		display: none;
	}

	nav{
		display: block;
		background: none;
	}

	nav ul{
		display: flex;
		position: absolute;
		top: 1rem;
		right: 2rem;
	}

	nav li{
		margin-left: 1.5rem;
	}

	nav a{
		color: #fff;
		font-size: 0.95rem;
	}

	/* promotion 4열 */
	.promo-list{
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
	}

	.promo-list li{
		width: 23.5%;
	}
	/* work 4열 */
	.work-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 10px;
	}

	.work-list li{
		width: 24%;
	}
	
	/* blog 3열 */
	.blog-list{
		display: flex;
		flex-wrap: wrap;
	}
	.blog-list li{
		width: 100%;
	}
	.sec-tit{
		font-size: 2.6rem;
	}
}