#wrap{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.sec-tit{
    background-color: lightblue;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 30px;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.logo a{
    color: #fff;
    font-size: 1.2rem;
    line-height: 60px;
    margin-left: 1rem;
}

nav {
    display: none; /* 일단 숨김 */
    position: fixed;
    top: 60px; /* 헤더 높이 만큼 내림 */
    left: 0;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.95); /* 어두운 배경 */
    z-index: 99;
}


nav.is-open {
    display: block; /* 보이게 함 */
}

/* 메뉴 내부 리스트 스타일 */
nav.is-open ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav.is-open ul li {
    margin: 20px 0;
}

nav.is-open ul li a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

/* 햄버거 버튼(오른쪽 버튼) */
/* &#9776; 이거 사용시에는 이렇게 구성 */
/* .menu-toggle-btn{
    color: #fff;
    font-size: 25px;
    background: transparent;
    border: none;
} */

/* span3개로 구성시에는 이렇게 */
.menu-toggle-btn{
    width: 2rem;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    cursor: pointer;
    background: transparent;
    border: none;
}

.menu-toggle-btn span{
    display: block;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
}

/* slider */
.slider{
    margin-top: 80px;
    width: 100%;
}

.slider img{
    width: 100%;
    height: auto;
}

/* common */
.container{
    width: 100%;
}

.sec-tit{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.desc{
    text-align: center;
    font-size: 1rem;
}

/* promotion */
.promo-list li{
    margin-bottom: 1.5rem;
}

.promo-list a{
    text-align: center;
    display: block;
    /* border: 5px solid green; */
    background-color: #f2f2f2;
}

.promo-list a h3{
    color: #777;
    font-weight: 600;
}

.promo-list a p{
    color: #888;
    font-size: 0.8rem;
}

/* work */
.work-list li{
    margin-bottom: 1.5rem;
}

.work-list a{
    display: block;
    background: #eaeaea;
    text-align: center;
    padding: 2rem;
}

.work-list li h3{
    color: #777;
    font-weight: 600;
}

.work-list li span{
    color: #888;
    font-size: 0.8rem;
}

/* blog */
.blog-list li{
    margin-bottom: 1.5rem;
}

.blog-list h3{
    font-size: 1rem;
    color: #777;
    font-weight: 600;
}

/* contact */
textarea{
    width: 100%;
    height: 120px;
    font-size: 2rem;
    padding: 1rem;
}

/* footer */
footer{
    font-size: 0.8rem;
    color: #888;
}